<MudPaper Elevation="2" Class="pa-4 ma-2 d-flex flex-column justify-space-between project-card" Style="height: 100%;">
    <div>
        <MudText Typo="Typo.h6" Class="mb-1">@Title</MudText>
        <MudText Typo="Typo.body2" Class="mb-2">@Description</MudText>
    </div>

    <div>

        @if (!string.IsNullOrWhiteSpace(@Github))
        {
            <MudDivider Class="my-2" />
            <MudChip T="string" Href="@Github" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary">
                GitHub
            </MudChip>
        }

        @if (!string.IsNullOrWhiteSpace(@Link))
        {
            <MudChip T="string" Href="@Link" Target="_blank" Icon="@Icons.Material.Filled.Public" Color="Color.Primary">
                Live Demo
            </MudChip>
        }

        <MudDivider Class="my-2" />

        <div class="d-flex flex-wrap gap-1 mt-2">
            @foreach (var tech in Technologies)
            {
                <MudChip T="string" Color="Color.Dark" DisableRipple="true" Variant="Variant.Filled">
                    @tech
                </MudChip>
            }
        </div>
    </div>
</MudPaper>


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public List<string> Technologies { get; set; }
    [Parameter] public string Link { get; set; }
    [Parameter] public string Github { get; set; }
}
